<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Name</th>
    <th>Due date</th>
    <th>Completed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
  <%= form_tag completed_assignments_path, remote: true do |f| %>
    <%= hidden_field_tag 'user', @user.id %>
    <%= hidden_field_tag 'assignment', assignment.id %>
    <td><%= assignment.course.name %></td>
    <td><%= assignment.name %></td>
    <td><%= assignment.due_date %><%= assignment.completed(@user) %></td>
    <td><%= check_box_tag "completed", "completed", assignment.completed(@user), onclick: "this.form.submit();" %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
