<!DOCTYPE html>
<html>
<head>
  <title>AssignmentSentinel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="banner">
    <!--maybe later <%= image_tag("logo.png") %>-->
    <h1><%= @page_title || "Assignment Sentinel" %></h1>
    <h2>Watching over your due dates so you have to</h2>
    <p class="userbar">
      <% if session[:user_id] %>
        Logged in as
        <%= link_to User.find(session[:user_id]).name, user_path(session[:user_id]) %>
        |
        <%= link_to 'Log out', logout_url %>
      <% else %>
        <%= link_to 'register', register_url %>
        <%= link_to 'log in', login_url %>
      <% end %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/faq">Questions</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
